# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.tfvars
*.tfvars.json
!examples.tfvars
!examples.tfvars.json

# IDE and OS files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.log